@font-face {
  font-family: 'Proxima Nova - Semibold';
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
